{:production true
 :port 3000



 :auth0-audience "https://api.apibot.co"
 :aws-lambda-api-url "https://beat9hjvm8.execute-api.us-east-1.amazonaws.com/prod/eval"
 :aws-lambda-api-key "placeholder-overriden-by-env"}
