{:dev true
 :port 3000
 ;; when :nrepl-port is set the application starts the nREPL server on load
 :nrepl-port 7000

 :auth0-audience "https://api-dev.apibot.co"
 :aws-lambda-api-url "https://7oovbwevui.execute-api.us-east-1.amazonaws.com/dev/eval"
 :aws-lambda-api-key "NncrTHUsU87k4esb4xTutkgkS7lB2uNvz0R251h0"}
